
<div class="container py-4" id="custom-cards">
    <h2 class="pb-2 border-bottom tittle-card">Hobbies</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col mb-4">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg bg-card1">
                <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Gym</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <div class="rounded-circle border border-white img-card1">
                            </div>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="fa-solid fa-heart"></i>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small> salud</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg bg-card2">
                <div class="d-flex flex-column h-100 p-4 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Musica</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <div class="rounded-circle border border-white img-card2">
                            </div>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="fa-solid fa-headphones"></i>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small>relajacion</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg bg-card3">
                <div class="d-flex flex-column h-100 p-4 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Juegos</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <div class="rounded-circle border border-white img-card3">
                            </div>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <i class="fa-solid fa-gamepad"></i>
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <small>diversion</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</div>